<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html>
   <head>
      <title>LINBO</title>
   </head>
   <body>
     <table>
       <tr>
	 <td>
	   <table>
	     <!-- sidebar -->
	     <tr><td><a href="/linboweb/main/">Overview</a></td></tr>
	     <tr><td><a href="/linboweb/client/">Client Admin</a></td></tr>
	     <tr><td><a href="/linboweb/config/">Config Admin</a></td></tr>
	   </table>
	 </td>
	 <td>Content</td></tr>
     </table>
   </body>
</html>
